<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>timestepyt.gdneko/border_0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{208,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{0,0},{208,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/border_0_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{208,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{242,0},{208,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/border_2_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{256,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{484,0},{256,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/border_2_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{256,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{742,0},{256,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/border_4_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{216,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{1000,0},{216,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/border_4_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{216,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{1242,0},{216,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/border_6_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{256,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{0,210},{256,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/border_6_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{256,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{258,218},{256,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/idle_0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{20,0}</string>
			<key>spriteSize</key>
			<string>{216,208}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{516,218},{216,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{160,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{734,218},{160,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/running_0_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{160,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{976,218},{160,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/running_1_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-8}</string>
			<key>spriteSize</key>
			<string>{248,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{1218,218},{248,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_1_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,16}</string>
			<key>spriteSize</key>
			<string>{248,224}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{734,380},{248,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_2_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,12}</string>
			<key>spriteSize</key>
			<string>{248,184}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{0,428},{248,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_2_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{256,192}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{250,436},{256,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_3_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{248,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{984,380},{248,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/running_3_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{16,8}</string>
			<key>spriteSize</key>
			<string>{224,208}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{508,436},{224,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_4_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{184,248}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{1202,460},{184,248}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/running_4_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,20}</string>
			<key>spriteSize</key>
			<string>{184,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{734,606},{184,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/running_5_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{248,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{0,614},{248,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_5_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-16,8}</string>
			<key>spriteSize</key>
			<string>{224,208}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{952,630},{224,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_6_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,12}</string>
			<key>spriteSize</key>
			<string>{248,184}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{250,630},{248,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_6_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{256,192}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{1178,646},{256,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_7_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-8}</string>
			<key>spriteSize</key>
			<string>{248,240}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{500,792},{248,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/running_7_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,16}</string>
			<key>spriteSize</key>
			<string>{248,224}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{250,816},{248,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/shocked_0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,4}</string>
			<key>spriteSize</key>
			<string>{248,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{0,832},{248,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/sleeping_0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{20,-28}</string>
			<key>spriteSize</key>
			<string>{200,168}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{750,792},{200,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timestepyt.gdneko/sleeping_0_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{20,-4}</string>
			<key>spriteSize</key>
			<string>{200,216}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{952,840},{200,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timestepyt.gdneko/tired_0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{20,0}</string>
			<key>spriteSize</key>
			<string>{216,208}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{1170,840},{216,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>timestepyt.gdneko/NekoSheet-uhd.png</string>
		<key>size</key>
		<string>{1482,1048}</string>
		<key>textureFileName</key>
		<string>timestepyt.gdneko/NekoSheet-uhd.png</string>
	</dict>
</dict>
</plist>